
body{
  background: #white;
  width: 1200px;
  margin:auto;
}
header {
    padding:0px;
    text-align:center;
}

h1 {
  font-family: 'Frijole', cursive;
  font-size: 50px;
  color: #962200;
  text-shadow: 1px 2px #661700;
}

span img {
  position: absolute;
  top: 40px;
  left: 40px;
  height: 200px;
  width: 200px;
}

figure img {
  opacity: 0.8;
}

nav {
    text-align: center;
}
ul li {
    text-align: center;
    display:inline;
    padding-left:5px;
    padding-right:5px;
    text-align:left;
    font-size:26px;
    font-weight:bold;
}

a {
  color: #494946;
  border: 1px solid #F3F3F3;
  padding: 0px 5px 0px 5px;
  background: #F3F3F3;
  border-radius: 3px;
  text-decoration: none;

}

aside {
    margin-top:5px;
    background-color:#D9D7B7;
    padding:5px;
    text-align:center;
    font-style:italic;
    border:1px solid #D9D7B7;
}

section {
    padding:5px;
    border: 1px solid #E7E7E7;
    margin-top:5px;
    background:#E7E7E7;
}

.pfresh {
  color: #B5A200;
}

h2 {
  color: #962200;
  font-family: 'Sigmar One', cursive;
}

p {
  font-size: 20px;
  font-family: 'Walter Turncoat', cursive;
  font-weight: bold;
  color: #343433;
}

footer p {
    padding:5px;
    text-align:center;
    font-weight:bold;
    font-style: normal;
    color: black;
}

h3 {
  font-size: 24px;
  text-align: center;
}

div.bottom_img img{
 float: left;
 width: 22%;
 height: 200px;
 margin: 15px;
 border: 1px solid #DCDCD7;
 border-radius: 3px;
}

table {
  margin-left: 160px;
  height: 200px;
  width: 800px;
  font-weight: bold;
  font-size: 18px;
}

table tr td {
  border: 1px solid black;
  padding: 0px 10px 0px 4px;
  background: #E1E0E0;
}


#salmon_img img {
  position: fixed;
  bottom: 0px;
  margin: auto;
  opacity: 0.3;
  left: 300px;
  top: auto;
  height: 300px;
  width: 900px;
}
